In [30]:
import os
from datetime import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from collections import defaultdict

from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split

sns.set()
pd.set_option('display.max_columns', None)

In [31]:
# Load the csv dataset into pandas dataframes
data_file = os.path.join(os.getcwd(), 'dataset', 'hr_employee_attrition.csv')
hr_df = pd.read_csv(data_file)
hr_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Y,Yes,11,3,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,Y,No,23,4,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Y,Yes,15,3,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,4,Female,56,3,1,Research Scientist,3,Married,2909,23159,1,Y,Yes,11,3,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,1,Male,40,3,1,Laboratory Technician,2,Married,3468,16632,9,Y,No,12,3,4,80,1,6,3,3,2,2,2,2

In [32]:
hr_df.describe(include='all')

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470,1470,1470.000000,1470,1470.000000,1470.000000,1470,1470.0,1470.000000,1470.000000,1470,1470.000000,1470.000000,1470.000000,1470,1470.000000,1470,1470.000000,1470.000000,1470.000000,1470,1470,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
unique,NaN,2,3,NaN,3,NaN,NaN,6,NaN,NaN,NaN,2,NaN,NaN,NaN,9,NaN,3,NaN,NaN,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,No,Travel_Rarely,NaN,Research & Development,NaN,NaN,Life Sciences,NaN,NaN,NaN,Male,NaN,NaN,NaN,Sales Executive,NaN,Married,NaN,NaN,NaN,Y,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,1233,1043,NaN,961,NaN,NaN,606,NaN,NaN,NaN,882,NaN,NaN,NaN,326,NaN,673,NaN,NaN,NaN,1470,1054,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,36.923810,NaN,NaN,802.485714,NaN,9.192517,2.912925,NaN,1.0,1024.865306,2.721769,NaN,65.891156,2.729932,2.063946,NaN,2.728571,NaN,6502.931293,14313.103401,2.693197,NaN,NaN,15.209524,3.153741,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,NaN,NaN,403.509100,NaN,8.106864,1.024165,NaN,0.0,602.024335,1.093082,NaN,20.329428,0.711561,1.106940,NaN,1.102846,NaN,4707.956783,7117.786044,2.498009,NaN,NaN,3.659938,0.360824,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,NaN,NaN,102.000000,NaN,1.000000,1.000000,NaN,1.0,1.000000,1.000000,NaN,30.000000,1.000000,1.000000,NaN,1.000000,NaN,1009.000000,2094.000000,0.000000,NaN,NaN,11.000000,3.000000,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,NaN,NaN,465.000000,NaN,2.000000,2.000000,NaN,1.0,491.250000,2.000000,NaN,48.000000,2.000000,1.000000,NaN,2.000000,NaN,2911.000000,8047.000000,1.000000,NaN,NaN,12.000000,3.000000,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,NaN,NaN,802.000000,NaN,7.000000,3.000000,NaN,1.0,1020.500000,3.000000,NaN,66.000000,3.000000,2.000000,NaN,3.000000,NaN,4919.000000,14235.500000,2.000000,NaN,NaN,14.000000,3.000000,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,NaN,NaN,1157.000000,NaN,14.000000,4.000000,NaN,1.0,1555.750000,4.000000,NaN,83.750000,3.000000,3.000000,NaN,4.000000,NaN,8379.000000,20461.500000,4.000000,NaN,NaN,18.000000,3.000000,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,NaN,NaN,1499.000000,NaN,29.000000,5.000000,NaN,1.0,2068.000000,4.000000,NaN,100.000000,4.000000,5.000000,NaN,4.000000,NaN,19999.000000,26999.000000,9.000000,NaN,NaN,25.000000,4.000000,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [33]:
hr_df.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

All employee numbers in the dataset are unique. I made this as the index.

In [34]:
hr_df['EmployeeNumber'].nunique()

1470

In [35]:
hr_df.set_index('EmployeeNumber', inplace=True)

In [36]:
hr_df.nunique()

Age                           43
Attrition                      2
BusinessTravel                 3
DailyRate                    886
Department                     3
DistanceFromHome              29
Education                      5
EducationField                 6
EmployeeCount                  1
EnvironmentSatisfaction        4
Gender                         2
HourlyRate                    71
JobInvolvement                 4
JobLevel                       5
JobRole                        9
JobSatisfaction                4
MaritalStatus                  3
MonthlyIncome               1349
MonthlyRate                 1427
NumCompaniesWorked            10
Over18                         1
OverTime                       2
PercentSalaryHike             15
PerformanceRating              2
RelationshipSatisfaction       4
StandardHours                  1
StockOptionLevel               4
TotalWorkingYears             40
TrainingTimesLastYear          7
WorkLifeBalance                4
YearsAtCompany                37
YearsInCurrentRole            19
YearsSinceLastPromotion       16
YearsWithCurrManager          18
dtype: int64

In [37]:
hr_df['StockOptionLevel'].value_counts()

0    631
1    596
2    158
3     85
Name: StockOptionLevel, dtype: int64

In [38]:
hr_df['JobLevel'].value_counts()

1    543
2    534
3    218
4    106
5     69
Name: JobLevel, dtype: int64

In [39]:
hr_df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
EmployeeNumber,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Y,Yes,11,3,1,80,0,8,0,1,6,4,0,5
2,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,Y,No,23,4,4,80,1,10,3,3,10,7,1,7
4,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Y,Yes,15,3,2,80,0,7,3,3,0,0,0,0
5,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,4,Female,56,3,1,Research Scientist,3,Married,2909,23159,1,Y,Yes,11,3,3,80,0,8,3,3,8,7,3,0
7,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,1,Male,40,3,1,Laboratory Technician,2,Married,3468,16632,9,Y,No,12,3,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2061,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,3,Male,41,4,2,Laboratory Technician,4,Married,2571,12290,4,Y,No,17,3,3,80,1,17,3,3,5,2,0,3
2062,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,4,Male,42,2,3,Healthcare Representative,1,Married,9991,21457,4,Y,No,15,3,1,80,1,9,5,3,7,7,1,7
2064,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2,Male,87,4,2,Manufacturing Director,2,Married,6142,5174,1,Y,Yes,20,4,2,80,1,6,0,3,6,2,0,3
2065,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,4,Male,63,2,2,Sales Executive,2,Married,5390,13243,2,Y,No,14,3,4,80,0,17,3,2,9,6,0,8
2068,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2,Male,82,4,2,Laboratory Technician,3,Married,4404,10228,2,Y,No,12,3,1,80,0,6,3,4,4,3,1,2

In [40]:
hr_df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'Over18',
       'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [41]:
nominal_categories = ['Attrition', 'BusinessTravel', 'Department', 'EducationField', 
                      'Gender', 'JobRole', 'MaritalStatus', 'OverTime']

# Train Test Split

In [42]:
target = hr_df['Attrition']
features = hr_df.drop(['Attrition'], axis=1)
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=234)

In [43]:
train_df = x_train.copy()
train_df['Attrition'] = y_train
train_df['Attrition']

EmployeeNumber
601      No
1710     No
1245     No
492     Yes
481      No
       ...
1666     No
1207     No
974      No
441      No
613      No
Name: Attrition, Length: 1176, dtype: object

In [44]:
check_train_df = pd.merge(left=train_df, right=hr_df, left_index=True, right_index=True)
check_train_df[(check_train_df['Attrition_x'] != check_train_df['Attrition_y'])]

Empty DataFrame
Columns: [Age_x, BusinessTravel_x, DailyRate_x, Department_x, DistanceFromHome_x, Education_x, EducationField_x, EmployeeCount_x, EnvironmentSatisfaction_x, Gender_x, HourlyRate_x, JobInvolvement_x, JobLevel_x, JobRole_x, JobSatisfaction_x, MaritalStatus_x, MonthlyIncome_x, MonthlyRate_x, NumCompaniesWorked_x, Over18_x, OverTime_x, PercentSalaryHike_x, PerformanceRating_x, RelationshipSatisfaction_x, StandardHours_x, StockOptionLevel_x, TotalWorkingYears_x, TrainingTimesLastYear_x, WorkLifeBalance_x, YearsAtCompany_x, YearsInCurrentRole_x, YearsSinceLastPromotion_x, YearsWithCurrManager_x, Attrition_x, Age_y, Attrition_y, BusinessTravel_y, DailyRate_y, Department_y, DistanceFromHome_y, Education_y, EducationField_y, EmployeeCount_y, EnvironmentSatisfaction_y, Gender_y, HourlyRate_y, JobInvolvement_y, JobLevel_y, JobRole_y, JobSatisfaction_y, MaritalStatus_y, MonthlyIncome_y, MonthlyRate_y, NumCompaniesWorked_y, Over18_y, OverTime_y, PercentSalaryHike_y, PerformanceRating_y, RelationshipSatisfaction_y, StandardHours_y, StockOptionLevel_y, TotalWorkingYears_y, TrainingTimesLastYear_y, WorkLifeBalance_y, YearsAtCompany_y, YearsInCurrentRole_y, YearsSinceLastPromotion_y, YearsWithCurrManager_y]
Index: []

In [45]:
test_df = x_test.copy()
test_df['Attrition'] = y_test
test_df['Attrition']

EmployeeNumber
1527     No
500      No
1212     No
2056     No
1618     No
       ...
550      No
1016    Yes
463      No
916      No
1613     No
Name: Attrition, Length: 294, dtype: object

In [46]:
check_test_df = pd.merge(left=test_df, right=hr_df, left_index=True, right_index=True)
# check_test_df
check_test_df[(check_test_df['Attrition_x'] != check_test_df['Attrition_y'])]

Empty DataFrame
Columns: [Age_x, BusinessTravel_x, DailyRate_x, Department_x, DistanceFromHome_x, Education_x, EducationField_x, EmployeeCount_x, EnvironmentSatisfaction_x, Gender_x, HourlyRate_x, JobInvolvement_x, JobLevel_x, JobRole_x, JobSatisfaction_x, MaritalStatus_x, MonthlyIncome_x, MonthlyRate_x, NumCompaniesWorked_x, Over18_x, OverTime_x, PercentSalaryHike_x, PerformanceRating_x, RelationshipSatisfaction_x, StandardHours_x, StockOptionLevel_x, TotalWorkingYears_x, TrainingTimesLastYear_x, WorkLifeBalance_x, YearsAtCompany_x, YearsInCurrentRole_x, YearsSinceLastPromotion_x, YearsWithCurrManager_x, Attrition_x, Age_y, Attrition_y, BusinessTravel_y, DailyRate_y, Department_y, DistanceFromHome_y, Education_y, EducationField_y, EmployeeCount_y, EnvironmentSatisfaction_y, Gender_y, HourlyRate_y, JobInvolvement_y, JobLevel_y, JobRole_y, JobSatisfaction_y, MaritalStatus_y, MonthlyIncome_y, MonthlyRate_y, NumCompaniesWorked_y, Over18_y, OverTime_y, PercentSalaryHike_y, PerformanceRating_y, RelationshipSatisfaction_y, StandardHours_y, StockOptionLevel_y, TotalWorkingYears_y, TrainingTimesLastYear_y, WorkLifeBalance_y, YearsAtCompany_y, YearsInCurrentRole_y, YearsSinceLastPromotion_y, YearsWithCurrManager_y]
Index: []

# Label Encoder on Training Data

In [47]:
# label_enc = LabelEncoder()
# label_enc = label_en.fit_transform()

In [48]:
label_enc_dict = defaultdict(LabelEncoder)
label_enc_dict

defaultdict(sklearn.preprocessing._label.LabelEncoder, {})

In [75]:
train_df = train_df.apply(lambda x: label_enc_dict[x.name].fit_transform(x) if x.name in nominal_categories else x)
train_df

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
EmployeeNumber,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
601,40,2,302,1,6,3,1,1,2,0,75,3,4,4,3,2,13237,20364,7,Y,0,15,3,3,80,0,22,3,3,20,6,5,13,0
1710,36,2,530,2,2,4,1,1,3,0,51,3,2,8,4,2,4502,7439,3,Y,0,15,3,3,80,0,17,2,2,13,7,6,7,0
1245,54,1,966,1,1,4,1,1,4,0,53,3,3,4,3,0,10502,9659,7,Y,0,17,3,1,80,1,33,2,1,5,4,1,4,0
492,40,2,575,2,22,2,2,1,3,1,68,2,2,7,3,1,6380,6110,2,Y,1,12,3,1,80,2,8,6,3,6,4,1,0,1
481,36,1,541,2,3,4,3,1,1,1,48,2,3,7,4,1,9699,7246,4,Y,0,11,3,1,80,1,16,2,3,13,9,1,12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1666,43,2,1291,1,15,2,1,1,3,1,65,2,4,5,3,1,17603,3525,1,Y,0,24,4,1,80,1,14,3,3,14,10,6,11,0
1207,33,2,147,0,2,3,0,1,2,1,99,3,1,1,3,1,3600,8429,1,Y,0,13,3,4,80,1,5,2,3,5,4,1,4,0
974,29,1,1404,2,20,3,5,1,3,0,84,3,1,8,4,1,2157,18203,1,Y,0,15,3,2,80,1,3,5,3,3,1,0,2,0
441,30,2,1275,1,28,2,3,1,4,0,64,3,2,6,4,1,5775,11934,1,Y,0,13,3,4,80,2,11,2,3,10,8,1,9,0
613,31,2,688,2,7,3,1,1,3,1,44,2,3,3,4,0,11557,25291,9,Y,0,21,4,3,80,1,10,3,2,5,4,0,1,0

In [50]:
hr_df.loc[[601, 1710, 1245], :]

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
EmployeeNumber,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
601,40,No,Travel_Rarely,302,Research & Development,6,3,Life Sciences,1,2,Female,75,3,4,Manufacturing Director,3,Single,13237,20364,7,Y,No,15,3,3,80,0,22,3,3,20,6,5,13
1710,36,No,Travel_Rarely,530,Sales,2,4,Life Sciences,1,3,Female,51,3,2,Sales Representative,4,Single,4502,7439,3,Y,No,15,3,3,80,0,17,2,2,13,7,6,7
1245,54,No,Travel_Frequently,966,Research & Development,1,4,Life Sciences,1,4,Female,53,3,3,Manufacturing Director,3,Divorced,10502,9659,7,Y,No,17,3,1,80,1,33,2,1,5,4,1,4

# One Hot Encoding on Training Data

In [64]:
arr_train = np.asarray(train_df[nominal_categories])

In [86]:
# ohe = OneHotEncoder(categories=[['BusinessTravel', 'Department', 'EducationField', 
#                       'Gender', 'JobRole', 'MaritalStatus', 'OverTime']], drop='first')
ohe = OneHotEncoder(categories='auto', drop='first')
ohe_arr = ohe.fit_transform(train_df[nominal_categories]).toarray()
ohe_labels = ohe.categories_
print(ohe_labels)

[array([0, 1], dtype=int32), array([0, 1, 2], dtype=int32), array([0, 1, 2], dtype=int32), array([0, 1, 2, 3, 4, 5], dtype=int32), array([0, 1], dtype=int32), array([0, 1, 2, 3, 4, 5, 6, 7, 8], dtype=int32), array([0, 1, 2], dtype=int32), array([0, 1], dtype=int32)]

In [87]:
ohe_labels = np.array(ohe_labels).ravel()
print(ohe_labels)

[array([0, 1], dtype=int32) array([0, 1, 2], dtype=int32)
 array([0, 1, 2], dtype=int32) array([0, 1, 2, 3, 4, 5], dtype=int32)
 array([0, 1], dtype=int32)
 array([0, 1, 2, 3, 4, 5, 6, 7, 8], dtype=int32)
 array([0, 1, 2], dtype=int32) array([0, 1], dtype=int32)]

In [88]:
ohe_df = pd.DataFrame(ohe_arr, columns=ohe_labels)
ohe_df

ValueError: Shape of passed values is (1176, 22), indices imply (1176, 8)

In [67]:
train_df['Attrition'].shape

(1176,)

In [69]:
nominal_categories

['Attrition',
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'OverTime']

In [54]:
ohe_dict = defaultdict(OneHotEncoder)
ohe_train_df = train_df[nominal_categories].apply(lambda x: ohe_dict[x.name].fit(x))

ValueError: Expected 2D array, got 1D array instead:
array=[0 0 0 ... 0 0 0].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [24]:
# onehot_enc_dict = defaultdict(OneHotEncoder)
# train_df = train_df.apply(lambda x: onehot_enc_dict[x.name].fit_transform(x) if x.name in nominal_categories else x )
# train_df

ValueError: Expected 2D array, got 1D array instead:
array=[2 2 1 ... 1 2 2].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [23]:
1/0

ZeroDivisionError: division by zero

Only Education is the numerical category since the source defined the values amoung ('Below College', 'College', 'Bachelor', 'Master', 'Doctor')

In [ ]:
numerical_categs = ['Education']
# for categ in numerical_categs: